# .coveragerc to control coverage.py
[run]
branch = True
omit = src/manage.py,
       */migrations/*,
       */tests/*,
       src/currency_exchange/settings*.py,
       src/currency_exchange/wsgi*.py,

[report]
precision = 4
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__


[html]
directory = static_content/media/coverage
